.aa{
	text-align:  center;
}
.t{
	
	background-color: red;
	border-radius: 20px 	  		
}
.d{
	background-color: gold;
	border-radius: 10px
}
.r {
	background-color: tan;
	border-radius: 10px
	}
.e{
	background-color: grey;
	border-radius: 10px
}
.o{
	background-color: orange ;
	border-radius: 10px
}
.l{
	background-color:blue ;
	border-radius: 10px
}
.k{
	background-color: brown;
	border-radius: 10px

}
.q{
	background-color: pink;
	border-radius: 10px
}
.x{
	background-color: purple ;
	border-radius: 10px
}
.n{
    background-color: #15b615 ;
	border-radius: 20px	
}
.m{
    background-color: #36ecf4 ;
	border-radius: 50px	
}
.kj{
	text-align: center;
}